extends ../emails/layout.pug

block content  
    h1 Nueva contrase침a
    hr
    br
    p Estimado usuario de #{data.site_nombre}:
    p 
      span Sus nuevos datos de acceso se detallan a continuaci칩n:
    p
       span Usuario:
       span
         strong #{data.usuario}
    p
       span Contrase침a:
       span
         strong #{data.pass}
    br
    p Url de acceso #{data.base_url}/login
    br
    br
    p Este es un mensaje generado autom치ticamente, por favor no lo responda.
    p Atte. equipo de cuentas de  #{data.site_nombre}
    br